body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
.search-field {
  border: none;
  border-radius: 25px;
  padding: 5px;
  outline: none;
}
.search-field:hover {
  outline: none;
  border: none;
}
.search-box {
  border: 1px solid rgb(8, 1, 34);
  width: 350px;
  padding-bottom: 2px;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 25px;
}
.search-button {
  float: right;
  padding: 10px 50px;
  border-radius: 25px;
}
#search-btn{
  margin-left: 22px;
  background-color: orange;
  border: none;
  outline: none;
}
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  padding: 10px;
  transition: 0.6s;
}
.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  border: 1px solid cyan;
}
.product-image {
  width: 150px;
  height: 150px;
}
.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

/* -------------Real Ranga Store custom style------------ */

/* my card buy now button */
.btn-ranga {background-image: linear-gradient(to right, #56CCF2 0%, #2F80ED  51%, #56CCF2  100%)}
.btn-ranga {
   margin: 10px;
   padding: 10px 15px;
   text-align: center;
   font-size: 12px;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   border: none;
   outline: none;
 }
 .btn-ranga:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
 /* ranga store add to card button */


 .btn-ranga-add {background-image: linear-gradient(to right, #0575E6 0%, #021B79  51%, #0575E6  100%)}
 .btn-ranga-add {
    margin: 10px;
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white; 
    font-size: 12px;           
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    border: none;
    outline: none;
  }

  .btn-ranga-add:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 

/* <-----------detals button-------> */
  
.btn-ranga-details {background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%)}
.btn-ranga-details {
   margin: 10px;
   padding: 10px 7px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;       
   font-size: 12px;     
   box-shadow: 0 0 20px #eee;
   border-radius: 7px;
   border: none;
   outline: none;
 }

 .btn-ranga-details:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }



 
 

 
  
  
 
 
